celery
Django
django-ckeditor
django-cleanup
django-cors-headers
django-filter
django-jazzmin
django-js-asset
django-redis
djangorestframework
djangorestframework-simplejwt
drf-yasg
Pillow
psycopg2
pycodestyle
PyJWT
python-dateutil
python-dotenv
redis
requests
whitenoise
yapf
